    /* POSITIONING */
    * {
	    margin: 0;
	    padding: 0;
    }

    body {
	padding:0px;
	margin:0px;
	min-width: 900px;
    }
    #container {
        margin: 0px auto;
        padding: 0px;
	width: 860px;
        overflow: hidden;
    }
    #titlerow {
	padding: 0px;
        margin: 0px;
        width: 100%;
        overflow: hidden;
        height: 63px;
    }
    #menurow {
        height: 30px;
	padding: 0px;
        margin: 0px;
        width: 100%;
	font-size:1pt;
    }
    #bannerrow {
	padding: 0px;
        margin: 0px;
        width: 100%;
        overflow: hidden;
	position: relative;
    }
    #bannertitle {
	position: absolute;
	left: 20px;
	bottom: 10px;
    }

    #bannerspacer {
	padding: 0px;
        margin: 0px;
        width: 100%;
        overflow: hidden;
        height: 20px;
    }
    #contenthead {
        position: relative;
	padding: 0px;
        margin: 0px;
        width: 100%;
        overflow: hidden;
        height: 20px;
    }
    #content_right {
        float: right;
	width: 190px;
	padding: 0px;
        margin: 0px;
        overflow: hidden;
        margin-right: 10px;
    }
    #content_left {
        float: left;
	width: 180px;
	padding: 0px;
        margin: 0px;
        overflow: hidden;
        margin-left: 10px;
    }
    #content {
	padding: 0px;
        margin: 0px;
        padding-left: 20px;
        padding-right: 20px;
        height: 1%; /* IE6 hack... it's very minor, though */
        overflow: hidden;
    }
    #content_center {
        width: 100%;
        overflow: hidden;
    }
    #footerrow {
        clear: both;
	padding: 0px;
        margin: 0px;
        width: 100%;
        overflow: hidden;
    }

    #title_menu {
        height: 31px;
	padding-right: 10px;
    }
    #bannerrow {
	height: 117px;
    }
    #contenthead #header1 {
        position: absolute;
	left:10px;
    }
    #contenthead #header2 {
        position: absolute;
	left:263px;
    }
    #contenthead #header3 {
        position: absolute;
	left:680px;
    }
    #title_icon {
        float: left;
    }
    #title_menu {
        float: right;
    }






    /* STYLE */
    body {
	background-image: url( /gfx/section_background.gif );
	background-repeat: repeat-x;
	background-position: top;

	text-align: left;

	font-family: Verdana, Tahoma, Helvetica, Arial;
        font-size: 8pt;
	background-color: #ffffff;
    }
    h1 {
        font-size: 9pt;
	text-transform: uppercase;
	color: #648C96;
	text-align: left;
	margin-top:1em;
	margin-bottom:1em;
    }
    h2 {
        font-size: 8pt;
	color: #666666;
	margin-top:5pt;
	margin-bottom:5pt;
    }
    span, p {
	line-height: 15pt;
	color: #555555;
    }
    p {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    img {
        border: 0;
    }
    a {
        text-decoration: none;
	color: #444444;
    }
    a:hover {
	color: #3F5C17;
    }
    div.hr {
        height: 5px;
	border: 0;
	background-image: url( /gfx/dotted_line_bg.gif );
	background-position: bottom;
	background-repeat: repeat-x;
    }

    .dropimage {
        float: left;
	padding-top: 4px;
	padding-right: 15px;
    }
    .more {
        display: block;
	font-size: 8pt;
	text-align: right;
	text-color: inherit;
    }
    .more a {
	color: inherit;
	background-image: url( /gfx/menu_arrow.gif );
	background-repeat: no-repeat;
	background-position: right .6em;
	display: block;
	padding-right: 10px;
    }
    .more a:hover {
	color: #3F5C17;
    }

    /* TITLE, MENU, BANNER, FOOTER ROWS */
    #title_menu, #title_menu a, #title_menu a, #title_menu a:hover {
	font-size: 8pt;
	color:  #445F65;
	line-height: 20px;
    }
    #title_menu a:hover {
	color:  #9CAA1A;
    }



    #bannerrow {
	background-color: white;
    }
    #footerrow {
	font-size: 7pt;
	line-height: 28px;
	color: #7A7B82;
        text-align: center;

	background-image: url( /gfx/footer_bg.gif );
	background-repeat: repeat-x;
	background-position: bottom-left;

    }
    ul, ol {
        font-size: 8pt;
	line-height: 15pt;
	color: #888888;
	padding-left: 15pt;
    }
    #left_nav_title {
        font-size: 9pt;
	text-transform: uppercase;
	color: #648C96;
	text-align: left;
	margin-top:1em;
	margin-bottom:1em;
	font-weight: bold;
    }

    /* CONTENT HEADERS */

    #contenthead {
        text-transform:uppercase;
	font-size: 8pt;
	font-weight: bold;
	color: #648C96;
	top: 3px;
    }

    /* RESOURCES */
    .res img {
        float: left;
	padding: 8px;
	padding-top:0px;
	padding-bottom:25px;

    }
    .res {
        padding-bottom:10px;
    }

    /* NEWS PREVIEW */

    .newspreview {
	position: relative;
	margin-right: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
    }

    .newspreview img {
        padding-top: 5px;
        padding-bottom: 10px;
    }
    .allnews {
        padding-top: 10px;
    }
    .allnews a {
	font-size: 8pt;
	color: inherit;
	background-image: url( /gfx/menu_arrow.gif );
	background-repeat: no-repeat;
	background-position: right .6em;
	display: block;
	padding-right: 10px;
    }
    .allnews a:hover {
	color: #3F5C17;
    }
    .newspreview .header {
        display: block;
	font-weight: bold;
	padding-bottom: 10px;
	line-height: normal;
	font-size: 8pt;
    }

    .newspreview .content {
        display: block;
	padding-bottom: 5px;
	line-height: normal;
	text-align: justify;
	font-size: 8pt;
	color: #888888;
    }

    .allnews {
        text-align: right;
	display: block;
	padding-right: 20px;
    }

    /* CONTENT LEFT */

    #content_left {
	border-top: 1px solid #DBDBDB;
    }

    /* CONTENT NAV */
    #content_left ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    #content_left .l1 {
	padding-right: 15px;
	padding-top:10px;
    }

    #content_left li {
	border: 1px solid white; /* IE6 */
        border-top: 1px solid #D5D7D9;
	padding-left: 0px;
    }

    #content_left li a {
	color: #666666;
	font-size: 8pt;
	padding-left: 5px;
	display: block;
    }

    #content_left li a:hover {
        background-image: url( /gfx/menu_arrow.gif );
	background-repeat: no-repeat;
	background-position: 0 .5em;
	color: #3F5C17;
	background-color: #EEF3F4;
    }

    #content_left li.active a {
	color: #3F5C17;
	font-weight: bold;
        background-image: url( /gfx/menu_arrow.gif );
	background-repeat: no-repeat;
	background-position: 0 .5em;
    }

    #content_left li.active .l2 a {
        color: #666;
	font-weight: normal;
	background-image: none;
    }

    #content_left .l2 li {
        padding-left: 15px;
    }

    /* CONTENT CENTER */

    #content {
	border-left: 1px solid #DBDBDB;
	border-right: 1px solid #DBDBDB;
	border-top: 1px solid #DBDBDB;
	text-align: justify;
    }

    #content_center ul {
        list-style-image: url( /gfx/list_arrow.gif);
	line-height: 13pt;
	margin-top:5pt;
    }

    #content_center ul li {
        padding-bottom: 5pt;
    }

    /* CONTENT RIGHT */

    #content_right {
	border-top: 1px solid #DBDBDB;
	padding-top: 15px;
	padding-bottom: 40px;
    }

    #content_right #screenshot_set {
        padding-left: 15px;
    }

    #content_right #screenshot_set img {
         border:1px solid #AAAAAA;
	 padding:5px;
    }
    #content_right #screenshot_set span { 
        border: none;
 	margin-bottom: 10px;
	display: block;
        font-size: 8pt;
    }

    #content_right #screenshot_set a {
	color: #666666;
	font-size: 8pt;
	padding-left: 5px;
	display: block;
    }

    /* DEMO BLOCK */
    #demoblock {
        padding-bottom: 10px;
        margin-left: 20px;
    }
    #demoblock ul {
        list-style-image: url( /gfx/list_arrow.gif);
	font-size: 8pt;
	line-height: 11pt;
    }
    #demoblock ul li {
        padding-bottom: 5pt;
    }

