<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US" dir="ltr">

<head>
    <title>IntraMeta - The Utility Computing Company</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="refresh" content="0;<!--#echo var="redirect" -->" />
</head>

<body>
    </body onload="document.location='<!--#echo var="redirect" -->';">
        If you are not automatically redirected, please <a href="<!--#echo var="redirect" -->">click here</a>.
    </body>
</html>
